<section>
  <h3 class="title is-5">All Recipes</h3>
  <p class="sub-title"> Yummy recipes!</p>
</section>
<div class="columns">
    <div class="column">
        <p>
       Add picture here
        </p>
    </div>
    
    <div class="column">
        <p>
          <% @recipes.each do |r| %>
          <%= link_to r.name, recipe_path(r.id), class: "button is-link" %>
        <% end  %>
        </p>
    </div>
   
</div>