<%= render partial: 'layouts/errors', locals: {object: @recipe}  %>

<h1>Add a Recipe for <%= @recipe.meal.name if @recipe.meal%> </h1>
<div>  
<%= render partial: 'recipe', object: @recipe  %>

 </div>


