
<div class="container has-background-success-light">
    <div class="container has-background-success-light">
    </div>
    <h1 class="title is-3 has-text-success-dark has-text-left has-text-weight-bold"> List of Users</h1>
    <div class="columns">  
        <div class="column has-text-left">  
            <p>
                <% @users.each do |user| %>
                <h3> <%= user.name %></h3>
                <% end %>
            </p><br>
        </div>
        <div class="column">
            <div class="image">  
                <%# image_tag("dinner1.jpg", alt: "Dinner", class:"is-rounded") %>
            </div>
        </div>
    </div>
</div>