<h1>All the meals! </h1>
<ol>
<% Meal.all.each do |m| %>
<li> On <%= m.date.try(:to_formatted_s, :long) %>, you prepared <%= m.name %> for <%= m.category %></li>
<% end %>
</ol>
<p>These are all the meals that have been prepared. </p>
<%# See about having a filter for category  %>