<div class="container has-background-success-light">
    <div class="container">
    <h1 class="subtitle has-text-white has-text-centered"><strong> New Meal!</strong></h1> 
    </div>

    <div class="container level-item has-text-centered has-text-black-bis has-background-danger-dark">
    <em><%= render partial: 'layouts/errors', locals: {object: @meal}  %></em>
    </div><br>

    <div class="columns">  
        <div class="column">  
        <%= render partial: 'meal', object: @meal  %>
        </div>
        <div class="column">  
            <%= image_tag("mealprep3.jpg", alt: "New Meal" ) %>
        </div>
    </div>
</div>

<%# Do I need to specify that the meal is being saved for a specific user? %>

