
<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><strong>Uh oh! <%= pluralize(object.errors.count, "error") %> prohibited this from being saved:</strong></h2>
 
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>